.register-component {
  margin-top: 5rem;
  min-width: 30rem;
  
  input {
    width: 90%;
  }

  >div:nth-child(1){
    div {
      margin-bottom: 1rem;     

      label {
        margin-right: 1rem;
        display: block;
        margin-bottom: .5rem;
        font-weight: bold;
      }

      input {
        margin-bottom: .5rem;
      }
    }
   
  }

  >div:nth-child(2){
    display: flex;
    justify-content: flex-end;
  }
}
