.match-list-component {
  height: 34rem;
  overflow-y: scroll;

  .match-row {
    grid-template-columns: 9.37rem 10.25rem 2.12rem 10.25rem 4.12rem 11rem 2.5rem 2.5rem;

    div:nth-child(5) {
      .cancel-icon {
        cursor: unset;
      }
    }
  }

  input[type='text'] {
    width: 1rem;
    margin: 0 .3rem
  }
}
