.match-list-component {
  height: 34rem;
  overflow-y: scroll;

  .match-row {
    grid-template-columns: 8.25rem 2.12rem 8.25rem 8.37rem 4.12rem 6.5rem 2.5rem 2.5rem;

    div:nth-child(5) {
      .cancel-icon {
        cursor: unset;
      }
    }
  }

  input[type='text'] {
    width: 40%;
  }
}
