.admin-component {
  &_menu {
    width: 46.11rem;
    margin: 0 auto;
    margin-bottom: 2rem;

    button {
      margin-right: 2rem;
    }
  }

  .header {
    font-weight: bold;
  }

  .match-row {
    display: grid;
    grid-template-columns: 8.25rem 2.12rem 8.25rem 8.37rem 4.12rem 6.5rem 2.5rem 3.5rem;

    &_header-actions {
      grid-column: 7 / span 2;
    }

    div:nth-child(5) {
      width: fit-content;
    }

    div:nth-child(7), :nth-child(8) {
      display: flex;
      align-items: center;
    }
  }
}
