@font-face {
  font-family: 'Fira';
  src: url('./assets/fira-sans-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  
}

body {
  margin: 0;
  font-family: 'Fira', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

