.forecast-list-component {
  height: 37rem;
  overflow-y: scroll;

  .header {
    font-weight: bold;
    position: sticky;
    top: -16px;
    z-index: 1;
    background-color: inherit;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .match-row {
    grid-template-columns: 8.25rem 1.12rem 8.25rem 6.37rem 5.5rem 4.12rem 4.9rem 4.5rem;
    column-gap: 1rem;

    input {
      width: 40%;
    }

    :nth-child(5), :nth-child(6), :nth-child(7), :nth-child(8){
      display: flex;
      justify-content: center;
    }

    .icon-options {
      justify-content: space-between;
    }
  }

  .update-icon {
    width: 12px;
    height: 12px;
  }
}
