.forecast-list-component {
  height: 37rem;
  overflow-y: scroll;

  .header {
    font-weight: bold;
    position: sticky;
    top: -16px;
    z-index: 1;
    background-color: inherit;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .match-row {
    grid-template-columns: 9.25rem 3.12rem 9.25rem 6.37rem 6.12rem 6.5rem 4.5rem;

    input {
      width: 40%;
    }

    :nth-child(5), :nth-child(6){
      display: flex;
      justify-content: space-around;
      padding-right: 10px;
    }
  }

  .update-icon {
    width: 12px;
    height: 12px;
  }
}
